<%- include("partials/header") -%>
    <div class="container">
        <div class="row">
            <header class="col-lg-12">
                <h1>Welcome to Greenverz</h1>
            </header>
            <section>
                <div class="image-container col-lg-8 col-md-6">
                    <img src="../images/main-image.jpg" alt="-image">
                </div>
                <div class="signup-container col-lg-4 col-md-6">
                    <h2>Join the Community Now!</h2>
                    <form autocomplete="off" action="" method="post">
                        <input id="username" name="username" type="text" placeholder="Enter Name" required>
                        <input id="useremail" name="useremail" type="email" placeholder="Enter Email" required>

                        <div class="wrapper">
                            <input id="newPassword" name="userpass" type="password" placeholder="Enter Password">
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                        </div>
                        <input id="confirmPassword" name="confirmpassword" type="password"
                            placeholder="Confirm Password" required>

                        <a href="#" id="submit">Signup</a>
                    </form>
                    <h6>Already have an account? <a href="/login">Login</a></h6>
                </div>
            </section>
        </div>
    </div>

    <!-- Jquery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- <script src='script.js'></script> -->
    <script src="../../script/script.js"></script>


    <script>
        $(document).ready(function () {
            $('#submit').click(function () {
                let newPassword = $('#newPassword').val();
                let confirmPassword = $('#confirmPassword').val();
                var flag = true;
                if ($('#username').val().length === 0) {
                    alert("Name can't be empty!");
                } else if ($('#useremail').val().length == 0) {
                    alert('Email cannot be empty!');
                } else if ($('#newPassword').val().length != $('#confirmPassword').val().length) {
                    alert("Passwords doesn't match");
                    $('#confirmPassword').val("");
                } else if ($('#newPassword').val().length < 8) {
                    alert('Password length too small');
                    $('#newPassword').val("");
                    $('#confirmPassword').val("");
                } else if (newPassword !== confirmPassword && flag) {
                    alert("Passwords doesn't match");
                    $('#confirmPassword').val("");
                    flag = false;
                } else {
                    alert("Are you sure, you want to submit?");
                    let name = $("#username").val();
                    let email = $("#useremail").val();
                    let password = $("#newPassword").val();
                    $.ajax({
                        type: "post",
                        url: "/userSignup",
                        data: {
                            name: name,
                            email: email,
                            password: password
                        },
                        success: function (response) {
                            if (response === "Email already exist") {
                                alert("Email already exist");
                            }
                            if (response === "Registration Successfull") {
                                alert("Registration Successfull! Kindly Login");
                                window.location.replace("/login");
                            }
                            if (response === "Some error has occurred!") {
                                alert("Some error has occurred! Try again..")
                            }

                        },
                    });
                }
            })
        });
    </script>
    <%- include("partials/footer") -%>