<%- include("partials/header") -%>

    <!-- <div class="form-gap"></div> -->
    <div class="containe ">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>You can reset your password here.</p>
                            <div class="panel-body">

                                <form action="" id="register-form" role="form" autocomplete="off" class="form"
                                    method="post">

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="email address"
                                                class="form-control" type="email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input id="submit" name="recover-submit"
                                            class="btn btn-lg btn-primary btn-block" value="Reset Password"
                                            type="submit">
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- <script src='script.js'></script> -->
    <script src="../../script/script.js"></script>

    <script>
        $(document).ready(function () {
            $('#submit').click(function () {
                var emailRegex = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
                var email = $("#useremail").val().trim();
                if (!email.match(emailRegex)) {
                    // If the email is not valid, display an error message
                    alert('Please enter a valid email address');

                    // Prevent the form from being submitted
                    e.preventDefault();
                } else {
                    $.ajax({
                        type: 'post',
                        url: '/forgotPassword',
                        data: {
                            email: $('#email').val()
                        },
                        success: function (response) {
                            alert(response)
                            if (response) {
                                alert("Password Reset authorised!")
                                window.location("resetPassword")
                            } else {
                                alert("Password Reset Denied!")
                            }
                        },
                        error: function(err){
                            alert(err)
                        }
                    });
                }
            })
        })
    </script>

    <%- include("partials/footer") -%>