<%- include("partials/header") -%>
    <div class="container">
        <div class="row">
            <header class="col-lg-12">
                <h1>Welcome to GreenYard</h1>
            </header>
            <section >
                <div class="image-container col-lg-9 col-md-6">
                    <img src="images/main-image.jpg" alt="main-image">
                </div>
                <div class="signup-container col-lg-4 col-md-6">
                    <h2>Join the Community Now!</h2>
                    <form autocomplete="off" action="" method="post">
                        <input id="username" name="username" type="text" placeholder="Enter Name" required>
                        <input id="useremail" name="useremail" type="email" placeholder="Enter Email"
                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

                        <div class="wrapper">
                            <input id="newPassword" name="userpass" type="password" placeholder="Enter Password">
                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                        </div>
                        <input id="confirmPassword" name="confirmpassword" type="password"
                            placeholder="Confirm Password" required>

                        <a href="#" id="submit">Signup</a>
                    </form>
                    <h6>Already have an account? <a href="/login">Login</a></h6>
                </div>
            </section>
        </div>
    </div>

    <!-- Jquery CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- <script src='script.js'></script> -->
    <script src="../../script/script.js"></script>


    <script>
        $(document).ready(function () {
            $('#submit').click(function () {
                let newPassword = $('#newPassword').val();
                let confirmPassword = $('#confirmPassword').val();
                var flag = true;

                // define a regular expression for a valid name
                var nameRegex = /^[a-zA-Z ]+$/;

                // use the .val() method to get the value of the input field
                var inputValue = $("#username").val();


                if ($('#username').val().length <= 2) {
                    alert("Name can't be empty!");
                } else if ($('#username').val().length > 20) {
                    alert("Name is too big!");
                    $('#username').val('');
                } else if (!inputValue.match(nameRegex)) {
                    alert("Enter a valid Name");
                } else if ($('#useremail').val().length == 0) {
                    alert('Email cannot be empty!');
                } else if ($('#newPassword').val().length != $('#confirmPassword').val().length) {
                    alert("Passwords doesn't match");
                    $('#confirmPassword').val("");
                } else if ($('#newPassword').val().length < 8) {
                    alert('Password length too small');
                    $('#newPassword').val("");
                    $('#confirmPassword').val("");
                } else if (newPassword !== confirmPassword && flag) {
                    alert("Passwords doesn't match");
                    $('#confirmPassword').val("");
                    flag = false;
                } else {
                    var emailRegex = /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;
                    var email = $("#useremail").val().trim();
                    if (!email.match(emailRegex)) {
                        // If the email is not valid, display an error message
                        alert('Please enter a valid email address');

                        // Prevent the form from being submitted
                        e.preventDefault();
                    }
                    let confirmSignup = confirm("Are you sure, you want to submit?");
                    if (confirmSignup) {
                        let name = $("#username").val().trim();
                        let password = $("#newPassword").val().trim();
                        $.ajax({
                            type: "post",
                            url: "/userSignup",
                            data: {
                                name: name,
                                email: email,
                                password: password
                            },
                            success: function (response) {
                                if (response === "Email already exist") {
                                    alert("Email already exist");
                                }
                                if (response === "Registration Successfull") {
                                    alert("Registration Successfull! Kindly Login");
                                    window.location.replace("/login");
                                }
                                if (response === "Some error has occurred!") {
                                    alert("Some error has occurred! Try again..")
                                }

                            },
                        });
                    } else {
                        return false;
                    }
                }
            })
        });
    </script>

    <%- include("partials/footer") -%>
