body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    padding: 2%;
}
section{
    display: flex;
}
a{
    text-decoration: none !important;
    color: inherit;
}


section .signup-container{
    text-align: center;
    width: 100%;
    border-radius: 12px;
    -webkit-box-shadow: 0px 8px 20px 8px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 8px 20px 8px rgba(0,0,0,0.4);
box-shadow: 0px 8px 20px 8px rgba(0,0,0,0.4);

}
section .signup-container h2{
    text-align: center;
}
section .signup-container h6{
    font-weight: bold;
    margin-top: 10px;
}
section .signup-container h6 a{
    color: #5CDB95;
    text-decoration: none;
}

section .image-container img{
    position: relative;
    left: -5%;
    width: 100%;
    /* height: auto; */
}
.signup-container input, .signup-container input:focus{
    border-radius: 12px;
    width: 85%;
    height: 2.5em;
    margin: .5em .1rem;
    border: 1px solid;
    padding: .5rem 1rem;
    outline: none;
}

.publishBtn{
    position: absolute;
      /* top: 70%;
      left: 15%; */
      padding: 6px 60px;
      background-color: #5CDB95;
      border-radius: 16px;
      font-size: 1.2rem;
      letter-spacing: 2px;
      color: #fff;
      font-weight: bold;
}

#submit{
    position: relative;
    top: 50%;
    background-color: #5CDB95;
    border-radius: 8px;
    padding: 2% 32%;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
}

/* Login page Styling */
#forgotPassword{
    position: relative;
    left: -25%;
    color: #5CDB95;
    font-size: 14px;
}

label input[type="checkbox"]{ 
    font-size: 8px;
    width:10%;
    display: inline-block;
    vertical-align: middle;
}

.checkClass{
    position: relative;
    margin: 2% 0;
    left: 8%;
    text-align: left;
}
.checkClass label{
    width: 100%;
}

/* -------------------- Dashboard ------------------------ */

/* Navigation Bar section */

#logo img{
    width: auto;
    height: auto;
    max-width: 250px;
    margin: 4px 12px;
    padding: 10px;
    float: left;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 70px;
  }
  
  .navigation-bar {
    height: 70px;
    width: 100%;
    text-align:right;
  }
  


  
  #menu {
    float: right;
  }

  #displayUserName{
      margin-left: 10px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  /* Branding section */

  .branding{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .branding .company-title{
    float: left;
    margin: 16px;
    text-align: left;
    width: 100%;
  }
  .branding .company-title h1{
    font-weight: bold;
    text-align: left;
    font-family: 'Moul';
    font-style: normal;
    font-size: 3rem;
  }
  .branding .company-title h1 span{
      color: #12B159E0;
  }
.plant-image .img img{
    max-width: 30rem;
    min-width: 15rem;
}
  .upload-button, .upload-button:hover{
      position: absolute;
      max-width: 480px;
      padding: 6px 80px;
      background-color: #5CDB95;
      border-radius: 16px;
      font-size: 1.5rem;
      letter-spacing: 2px;
      color: #fff;
      font-weight: bold;
}
.upload-button:hover{
    transition: .2s ease-in-out;
    scale: 1.05;
}

/* Explore Section */

.explore-section .card-deck{
    width: 100%;
    height: auto;
    background-color: rgba(231, 229, 229, 0.781);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-section .card-deck .card{
    margin-top: 10px;
}


#download-button{
    position: relative;
    top: 5%;
    background-color: #5CDB95;
    border-radius: 8px;
    padding: 2% 25%;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.imageContainer img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 18rem;
    height: auto;
    border-radius: 16px;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
}

#displayUserName{
    color: #5CDB95;
}

#upload-section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    width: 100%;
}
.row{
    margin: 0 auto;
}

.wrapper{
    position:relative;
  }
.wrapper i{
  position: absolute;
  top: 15px;
  right: 40px;
}

.post-table th{
    width: 10px;
}
.table tbody tr td a img{
    max-width: 100px;
}
/* Media query for screens with a width less than or equal to 480px */
@media screen and (max-width: 480px) {
    /* Make the two div elements take up the full width of the screen */
    .image-container,.signup-container {
      width: 100%;
    }
  }
  
  /* Media query for screens with a width greater than 480px */
  
  section {
    display: flex;
    align-items: center;
  }
  
  /* Media query for screens with a width less than or equal to 768px */
  @media screen and (max-width: 768px) {
    section {
      flex-direction: column;
    }
  }
  
  .navbar-brand{
    display: none;
  }

  #logo img{
    height: auto;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  
      /* height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; */
  
  }
  
  .navigation-bar {
    display: flex;
    align-items: center;
  }
  
  .navigation-container {
    width: 100%;
  }
  
  .navigation-container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation-container li {
    display: inline-block;
  }
  
  /* Media query for screens with a width less than or equal to 768px */
  @media screen and (max-width: 768px) {
    .navigation-container ul {
      flex-direction: column;
    }
    
    .plant-image{
        display: none;
    }

    .navigation-container li {
      text-align: center;
    }
  }
  

  .navbar-nav > li{
    margin : 0 15px;
  }
  

  div ul li a,  div ul li a:hover{
    color: #78BB6E;
    font-size: 18px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
  }

  .hover-underline-animation {
    position: relative;
    text-decoration: none;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #78BB6E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  } 